# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the task5 branch
  push:
    branches: [ task5 ]
  # --- pull_request:
  # ---   branches: [ task5 ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
        - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
        - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
        - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
        - name: Check out repository code
        uses: actions/checkout@v2
        - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
        - run: echo "The workflow is now ready to test your code on the runner."
        - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
          


        # --- взято из: https://temofeev.ru/info/articles/ispolzovanie-github-actions-s-c-i-cmake/
        - name: Configure
          shell: cmake -P {0}
          run: |
            set(ENV{CC} "gcc")
            set(ENV{CXX} "g++")

            file(TO_CMAKE_PATH "$ENV{GITHUB_WORKSPACE}/ninja" ninja_program)

            execute_process(
              COMMAND ${ { steps.cmake_and_ninja.outputs.cmake_dir } }/cmake
                -S .
                -B build
                -D CMAKE_BUILD_TYPE=Release
                -G Ninja
                -D CMAKE_MAKE_PROGRAM=${ninja_program}
              RESULT_VARIABLE result
            )
            if (NOT result EQUAL 0)
              message(FATAL_ERROR "Bad exit status")
            endif()          
          
        - name: Build
          shell: cmake -P {0}
          run: |
            set(ENV{NINJA_STATUS} "[%f/%t %o/sec] ")

            execute_process(
              COMMAND ${ { steps.cmake_and_ninja.outputs.cmake_dir } }/cmake --build build
              RESULT_VARIABLE result
            )
            if (NOT result EQUAL 0)
              message(FATAL_ERROR "Bad exit status")
            endif()          
          
          

# - name: Test
#   shell: cmake -P {0}
#   run: |
#     include(ProcessorCount)
#     ProcessorCount(N)

#     execute_process(
#       COMMAND ${ { steps.cmake_and_ninja.outputs.cmake_dir } }/ctest -j ${N}
#       WORKING_DIRECTORY build
#       RESULT_VARIABLE result
#     )
#     if (NOT result EQUAL 0)
#       message(FATAL_ERROR "Running tests failed!")
#     endif()

# UploadArtifacts

        # run: cmake task5/ -G "What a cmd G switch?"
          
          
      # - run: echo "This job's status is ${{ job.status }}."    
    
    
    
    
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # --- - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      # --- - name: Build
      # ---   run: echo Hello, world!

      # Runs a set of commands using the runners shell
      # --- - name: Run a multi-line script
      # ---   run: |
      # ---     echo Add other actions to build,
      # ---     echo test, and deploy your project.
